.App {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 20px, 20px;
}

.menu li {
  display: block;
  float: left;
  margin: 20px;
  
}
.h1 {
  text-align: center;
}

.form-div {
    margin: auto;
  
}

.App-link {
  color: #61dafb;
}


