.App {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 20px, 20px;
}

.menu li {
  display: block;
  float: left;
  margin: 30px;
  
}

.h1 {
  text-align: center;
  
}

.form-div {
  margin: auto;
  background-color: rgb(219, 218, 218);
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
  width: 40%;
  padding-top: 60px;
  
  
}

/* .form-content {
  text-align: center;
  margin: auto;
  
} */
.col-md-5 {
  margin: auto;
  
}

.App-link {
  color: #61dafb;
}


